<form class="contact-form z-depth-3" action="inquiry" method="POST">
  <div class="input-field col s6">
    <input id="name" type="text" name="name"class="validate">
    <label for="name">Name</label>
  </div>
  <div class="input-field col s6">
    <input id="subject" type="text" name="subject"class="validate">
    <label for="subject">subject</label>
  </div>
  <div class="input-field green-text col s12">
    <input id="email" type="email" name="email"class="validate">
    <label for="email" class="">Email</label>
  </div>
  <div class="input-field col s12">
    <textarea id="textarea1" type="text" placeholder="Message..." name="message"class="validate"></textarea>
  </div>
  <input type="submit" value="send" class="btn wave-light center-align submit"></button>
</form>
