<form class="contact-form">
  <div class="input-field col s6">
    <input id="first_name" type="text" class="validate">
    <label for="first_name">First Name</label>
  </div>
  <div class="input-field col s6">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>
  <div class="input-field green-text col s12">
    <input id="email" type="email" class="validate">
    <label for="email" class="">Email</label>
  </div>
  <div class="input-field col s12">
    <textarea id="textarea1" type="text" placeholder="Message..." class="validate"></textarea>
  </div>
  <input type="submit" value="send" class="btn wave-light center-align submit"></button>
</form>
