
<nav class="fixed" style="background: #90BAAD">
  <div class="nav-wrapper container">
    <a href="/"><div id="logo"class="brand-logo">Michael McVeigh</div></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="about-btn"><a>About</a></li>
      <li class="projects-btn"><a>Projects</a></li>
      <li class="contact-btn"><a>Contact</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li class="about-btn"><a>About</a></li>
  <li class="projects-btn"><a>Projects</a></li>
  <li class="contact-btn"><a>Contact</a></li>
</ul>
