
<nav class="fixed" style="background: #90BAAD">
  <div class="nav-wrapper container">
    <a href="/"><div id="logo"class="brand-logo">Michael McVeigh</div></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nav-button" id="btn-about"><a class="white-text">About</a></li>
      <li class="nav-button" id="btn-projects"><a class="white-text">Projects</a></li>
      <li class="nav-button" id="btn-smaller-projects"><a class="white-text">Smaller Projects</a></li>
      <li class="nav-button" id="btn-contact"><a class="white-text">Contact</a></li>
    </ul>
  </div>
</nav>
