<!DOCTYPE html>
<html>
  {{>head}}
  <body>
    <main class="conf-main valign-wrapper flex-col">
      {{>nav}}
      <div class="full-particle"id="particles-js"></div>

        <div class="confirmation flex-col">
          <h1>Thanks for your message. I'll be in touch shortly.</h1>
        </div>

        {{>footer}}
      </main>
</body>
</html>
