<!DOCTYPE html>
<html>
  {{>head}}
  <body>
      {{>nav}}
      <main class="valign-wrapper flex-col subtle-background">
        <div class="container">
        <h1>Thanks for your message. I'll be in touch shortly.</h1>
      </div>
      </main>
    {{>footer}}
</body>
</html>
