<!DOCTYPE html>
<html>
  {{>head}}
  <body>
      {{>nav}}
      <main class="valign-wrapper flex-col">
      <div id="about" class="flex-col">
        <h1>About</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <img class="profile-pic z-depth-3"src="./images/profile.jpg" />
        <div class="intro center">Greetings! My name is Michael McVeigh
          and I'm a freelance web developer based in Philadelphia, PA.
          I specialize in building content management systems for clients
          who want something more customizable and cheaper than a Squarespace
          or WordPress site. To learn more about specific products and pricing click <a>here</a>
         </div>
      </div>
      <div id="projects" class="flex-col">
        <h1 class="center">Projects</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <div class="project z-depth-3 flex-col">
          <a href="http://josephedgertonkrause.com"><img class="project-img"src="./images/jek.png"  /></a>
          <h4>Artist Website</h4>
          <p class="project-desc">Built in February, 2018, this site serves as a gallery and online
          store for a local artist. </p>
        </div>
        <div class="project z-depth-3 flex-col">
          <a><img class="project-img"src="./images/tripstoplan.png"  /></a>
          <h4>TripsToPlan</h4>
          <p class="project-desc">Built in March, 2018, this site helps users plan a vacation around their interests. </p>
        </div>
        <div class="project z-depth-3 flex-col">
          <a><img class="project-img"src="./images/jek.png"  /></a>
          <h4>Artist Website</h4>
          <p class="project-desc">Built in February, 2018, this site serves as a gallery and online
          store for a local artist. </p>
        </div>
      </div>
      <div id="contact" class="flex-col">
        <h1>Contact</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <h4 class="center contact-title">If you're interested in working together send me a message!</h4>
        {{>contact-form}}
      </div>
    </main>
    {{>footer}}
    <script type="text/javascript" src="/javascripts/build/main.bundle.js"></script>
  </body>
</html>
