<!DOCTYPE html>
<html>
  {{>head}}
  <body>
      {{>nav}}
      <main class="valign-wrapper flex-col">
      <div id="particles-background"></div>
      <div id="particles-js" class="z-depth-5"></div>
      <div id="about" class="flex-col">
        <img class="profile-pic z-depth-3"src="./images/profile.jpg" />
        <h1>About</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <div class="intro center">Greetings! My name is Michael McVeigh
          and I'm a freelance web developer based in Philadelphia, PA.
          I specialize in building content management systems for clients
          who want something more customizable and cheaper than a Squarespace
          or WordPress site. To learn more about specific products and pricing click <a>here</a>
         </div>
      </div>
      <div id="projects" class="flex-col">
        <h1 class="center">Projects</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <div class="project z-depth-3 flex-col">
          <a class="center-align" href="http://josephedgertonkrause.com"><img class="project-img img-responsive"src="./images/jek.png"  /></a>
          <h4>Artist Website</h4>
          <p class="project-desc">Built in February, 2018, this site serves as a gallery and online
          store for a local artist. </p>
          <p class="grey-text">Node / Express / MongoDb / Canvas / AWS</p>
        </div>
        <div class="project z-depth-3 flex-col">
          <a  class="center-align" href="https://weather-analysis.herokuapp.com/"><img class="project-img"src="./images/weatheranalysis.png"  /></a>
          <h4 class="center">Weather Accuracy</h4>
          <p class="project-desc">Built February-March of 2018 this service
          records Weather Underground forecasts and then checks their accuracy.
          </p>
          <p class="grey-text">Node / Express / MongoDb / D3.js / AWS Lambda</p>
        </div>
        <!-- <div class="project z-depth-3 flex-col">
          <a><img class="project-img"src="./images/jek.png"  /></a>
          <h4>Etymology Map</h4>
          <p class="project-desc">Built in January, 2018, this site maps the
          etymologies of Enligh words into a tree layout. The user can then expand
          the map to see how other words are related</p>
        </div> -->
        <div class="project z-depth-3 flex-col">
          <a class="center-align" ><img class="project-img"src="./images/tripstoplan.png"  /></a>
          <h4 class="center">TripsToPlan</h4>
          <p class="project-desc">Built in March, 2018, this site helps users plan a vacation around their interests. </p>
          <p class="grey-text">Amadeus API / Eventful API / GoogleMaps API / Google GeoCoder API</p>
        </div>
        <div id="small-projects"></div>
      </div>
      <div id="smaller-projects" class="flex-col">
        <h2 class="center">Smaller Projects</h2>
        <img src="./images/divider.png" class="section-divider"/>
        <div class="flex-row">
          <div class="smallProject z-depth-2">
              <h5>MERN Template</h5>
              <p>A template for creating web applications using the MERN (mongoDb,
                Express, React, Node) stack + Redux
              </p>
              <p><a class="blue-text"href="https://github.com/okputadora/MERN-template">code</a></p>
              <p>April, 2018</p>
          </div>
          <div class="smallProject z-depth-2">
              <h5>MySql Storefront</h5>
              <p>Purchase some products from a mySql database
              </p>
              <p>
                <a class="blue-text"href="https://github.com/okputadora/hw-11-bamazon">code</a> /
                <a class="blue-text"href="https://drive.google.com/file/d/1dUX0AfzbXJeSEcaHS098885iOofcDgh8/view?usp=sharing">example</a></p>
              <p>April, 2018</p>
          </div>
          <div class="smallProject z-depth-2">
              <h5>Rock, Paper, Scissors</h5>
              <p>A simple game of RPS built with React and Firebase
              </p>
              <p>
                <a class="blue-text"href="">code</a> /
                <a class="blue-text"href="https://okputadora.github.io/react-firebase-rps/">example</a>
              </p>
              <p>March, 2018</p>
          </div>
          <div class="smallProject z-depth-2">
              <h5>Javascript Calculator</h5>
              <p>Calulator built while following the FreeCodeCamp curriculum
              </p>
              <p>
                <a class="blue-text"href="https://github.com/okputadora/Calculator">code</a> /
                <a class="blue-text"href="https://okputadora.github.io/Calculator/">example</a></p>
              <p>December 2016</p>
          </div>
          <div class="smallProject z-depth-2">
              <h5>Random Quote Machine</h5>
              <p>Generate a random quote. Tweet it. Built following the FreeCodeCamp
                curriculum.
              </p>
              <p>
                <a class="blue-text"href="https://github.com/okputadora/randomQuoteMachine">code</a> /
                <a class="blue-text"href="https://okputadora.github.io/randomQuoteMachine/">example</a></p>
              <p>December 2016</p>
          </div>
        </div>
      </div>
      <div id="contact" class="flex-col">
        <h1>Contact</h1>
        <img src="./images/divider.png" class="section-divider"/>
        <h4 class="center contact-title">If you're interested in working together send me a message!</h4>
        {{>contact-form}}
      </div>
    </main>
    {{>footer}}
  </body>
</html>
